@font-face {
  font-family: "RobotoLight";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoSlabBold";
  font-style: 700;
  font-weight: normal;
  src: url("../fonts/RobotoSlabBold/RobotoSlabBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoSlabBold/RobotoSlabBold.woff") format("woff"), url("../fonts/RobotoSlabBold/RobotoSlabBold.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoSlabLight";
  font-style: 700;
  font-weight: normal;
  src: url("../fonts/RobotoSlabLight/RobotoSlabLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoSlabLight/RobotoSlabLight.woff") format("woff"), url("../fonts/RobotoSlabLight/RobotoSlabLight.ttf") format("truetype"); }

/* GENERAL RESET AREA START */
*::-webkit-input-placeholder {
  color: #989898;
  opacity: 1; }

*:-moz-placeholder {
  color: #989898;
  opacity: 1; }

*::-moz-placeholder {
  color: #989898;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #989898;
  opacity: 1; }

form, fieldset {
  margin: 0;
  padding: 0;
  border-style: none; }

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box; }

mark {
  background: none; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

img {
  border-style: none; }

h1, h2, h3, h4, h5, h6, p, figure, li {
  margin: 0; }

img {
  border-style: none;
  display: block; }

input, select, textarea {
  vertical-align: middle;
  font: 100% arial, helvetica, sans-serif; }

a {
  color: #000;
  text-decoration: none; }

a:hover, a:active, a:focus {
  text-decoration: none;
  outline: none; }

button {
  padding: 0; }

button, button:hover, button:active {
  outline: none; }

/* GENERAL RESET END*/
.clearfix:after {
  content: "";
  display: block;
  clear: both; }

html,
body,
.main-head_wrap,
.main-head {
  height: 100%; }

body {
  min-width: 320;
  font-size: 16px;
  color: #292827;
  line-height: 1.1;
  position: relative;
  margin: 0; }

.main-head_wrap {
  width: 100%;
  background: url("../img/ornament.png") repeat-x 0 100%, linear-gradient(to bottom, rgba(234, 76, 88, 0.5), rgba(234, 76, 88, 0)) no-repeat 0 100%;
  background: url("../img/ornament.png") repeat-x 0 100%, -webkit-linear-gradient(bottom, rgba(234, 76, 88, 0.5), rgba(234, 76, 88, 0)) no-repeat 0 100%;
  background: url("../img/ornament.png") repeat-x 0 100%, -moz-linear-gradient(bottom, rgba(234, 76, 88, 0.5), rgba(234, 76, 88, 0)) no-repeat 0 100%;
  background: url("../img/ornament.png") repeat-x 0 100%, -ms-linear-gradient(bottom, rgba(234, 76, 88, 0.5), rgba(234, 76, 88, 0)) no-repeat 0 100%;
  background: url("../img/ornament.png") repeat-x 0 100%, -o-linear-gradient(bottom, rgba(234, 76, 88, 0.5), rgba(234, 76, 88, 0)) no-repeat 0 100%;
  background-size: auto, 100% 50vh;
  position: relative; }

.main-head {
  height: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.header {
  width: 100%;
  max-width: 902px;
  margin: 0 auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-align-items: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-top: 20px; }

.logo {
  font-size: 0; }
  .logo img {
    width: 100%;
    height: auto; }

.btn-header-subscribe {
  font-family: "RobotoLight";
  background-color: #ea4c58;
  border-radius: 5px;
  color: #fff;
  line-height: 32px;
  padding: 0 22px;
  border: none;
  cursor: pointer;
  -webkit-transition: all .15s;
  -moz-transition: all .15s;
  -ms-transition: all .15s;
  -o-transition: all .15s; }
  .btn-header-subscribe:hover {
    background-color: #f95d69; }
  .btn-header-subscribe:active {
    background-color: #d92d3a; }

.main-head_heading {
  width: 100%;
  max-width: 907px;
  margin: 0 auto;
  color: #fff;
  margin-bottom: 45px; }

h2 {
  font-family: "RobotoSlabBold";
  font-size: 36px;
  letter-spacing: 1.3px;
  margin-bottom: 10px; }

.main-head_subheading {
  font-family: "RobotoLight";
  font-size: 16px;
  letter-spacing: 0.6px; }

.main-wrap {
  max-width: 902px;
  margin: 74px auto 95px; }

.main-content {
  width: 56.76%;
  float: left; }

h4 {
  min-width: 169px;
  margin: 0 auto 40px;
  padding-bottom: 38px;
  text-align: center;
  font-family: "RobotoSlabBold";
  font-size: 16px;
  color: #000;
  background: url("../img/h3-bg.png") no-repeat center 100%; }

.post-header {
  margin-bottom: 9px; }

.btn-post-category {
  font-family: "RobotoRegular";
  color: #ea4c58;
  line-height: 24px;
  padding: 0 10px;
  background-color: transparent;
  border: 1px solid #ea4c58;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 2px;
  display: inline-block;
  -webkit-transition: all .15s;
  -moz-transition: all .15s;
  -ms-transition: all .15s;
  -o-transition: all .15s; }
  .btn-post-category:hover {
    background-color: #ea4c58;
    color: #fff; }
  .btn-post-category:active {
    border-color: #d92d3a;
    background-color: #d92d3a; }

.post-header_date {
  font-family: "RobotoRegular";
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 6px;
  display: inline-block;
  letter-spacing: 0.5px; }

h3 {
  width: 83%;
  font-size: 24px;
  line-height: 30px;
  color: #000;
  font-family: "RobotoSlabBold";
  margin-bottom: 11px;
  letter-spacing: 0.9px; }

.post-img {
  max-height: 200px;
  margin-bottom: 11px; }
  .post-img img {
    width: 100%;
    height: auto; }

.post-content {
  margin-bottom: 48px; }
  .post-content p {
    display: inline-block;
    font-family: "RobotoLight";
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 32px;
    letter-spacing: 0.6px; }

.pages-nav {
  text-align: center;
  margin: 0 auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.pages-nav_arrow {
  display: inline-block;
  width: 58px;
  height: 11px;
  background: url("../img/pages-nav-arrow.png") no-repeat 0 50%;
  margin-right: 19px;
  border: none;
  cursor: pointer;
  height: 40px;
  -webkit-transition: all .2s ease .15s;
  -o-transition: all .2s ease .15s;
  transition: all .2s ease .15s; }
  .pages-nav_arrow.right-arrow {
    margin-right: 0;
    margin-left: 19px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
  .pages-nav_arrow:hover {
    -webkit-transform: translateX(-15px);
    -ms-transform: translateX(-15px);
    -o-transform: translateX(-15px);
    transform: translateX(-15px); }
  .pages-nav_arrow.right-arrow:hover {
    -webkit-transform: rotate(180deg) translateX(-15px);
    -ms-transform: rotate(180deg) translateX(-15px);
    -o-transform: rotate(180deg) translateX(-15px);
    transform: rotate(180deg) translateX(-15px); }

.pages-nav_btns {
  font-family: "RobotoRegular"; }
  .pages-nav_btns li {
    display: inline-block;
    margin-right: 6px; }
    .pages-nav_btns li:last-child {
      margin-right: 0; }
    .pages-nav_btns li button {
      font-family: "RobotoRegular";
      width: 40px;
      height: 40px;
      vertical-align: middle;
      font-size: 16px;
      cursor: pointer;
      border: none;
      background: none;
      border-radius: 3px;
      display: inline-block;
      -webkit-transition: all .2s ease;
      -o-transition: all .2s ease;
      transition: all .2s ease; }
      .pages-nav_btns li button:hover {
        background-color: rgba(121, 130, 198, 0.2); }
  .pages-nav_btns li.pages-nav_active-page {
    background: -webkit-linear-gradient(left, #ea4c58, #ea4c58) no-repeat 3px 82%;
    background: -o-linear-gradient(left, #ea4c58, #ea4c58) no-repeat 3px 82%;
    background: linear-gradient(to left, #ea4c58, #ea4c58) no-repeat 3px 82%;
    background-size: 34px 1px; }
    .pages-nav_btns li.pages-nav_active-page button {
      color: #ea4c58; }

.aside {
  width: 36.15%;
  float: right;
  margin-top: 108px; }

.search-hold {
  padding: 2px;
  border: 1px solid #bbb;
  border-radius: 3px;
  margin-bottom: 44px; }

.search-area {
  width: 81.59%;
  float: left;
  height: 42px;
  border: none;
  outline: none;
  text-indent: 12px;
  padding-right: 12px; }

.btn-search {
  width: 17%;
  float: right;
  font-size: 21px;
  color: #fff;
  background-color: #222;
  border-radius: 3px;
  line-height: 42px;
  outline: none;
  border: none;
  cursor: pointer; }
  .btn-search:hover {
    background-color: #ad000c; }
  .btn-search:active {
    background-color: #3a0004; }

.categories {
  padding-top: 33px; }

h5 {
  display: block;
  font-family: "RobotoSlabBold";
  font-size: 16px;
  margin-bottom: 24px;
  letter-spacing: 0.7px; }

.categories-nav {
  margin-bottom: 78px; }
  .categories-nav li {
    padding: 6px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
    .categories-nav li:first-child {
      border-top: 1px solid rgba(0, 0, 0, 0.2); }
    .categories-nav li a {
      display: block;
      font-family: "RobotoRegular";
      font-size: 14px;
      line-height: 24px;
      text-indent: 11px;
      color: rgba(0, 0, 0, 0.8);
      letter-spacing: 0.5px;
      -webkit-transition: all .15s;
      -o-transition: all .15s;
      transition: all .15s; }
      .categories-nav li a:hover {
        background-color: #fbe7e5; }
      .categories-nav li a:active {
        background-color: #fddbd7; }

.social-btns {
  padding: 21px 0 17px;
  padding-left: 1px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-left: none;
  border-right: none;
  margin-bottom: 93px; }
  .social-btns li {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 10px;
    margin-right: 6px; }
  .social-btns img {
    display: inline-block;
    width: 100%;
    height: auto;
    margin-right: 10px;
    -webkit-transition: all .15s;
    -o-transition: all .15s;
    transition: all .15s; }
  .social-btns a:hover img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2); }

.side-banner-small {
  display: block;
  margin-bottom: 87px;
  max-height: 213px;
  overflow: hidden; }
  .side-banner-small a {
    display: block;
    margin: 0 auto;
    width: 92%; }
    .side-banner-small a img {
      width: 100%;
      height: auto; }

.popular-posts_wrap {
  padding: 10px 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-left: 0;
  border-right: 0;
  margin-bottom: 79px; }

.popular-posts_row {
  padding-left: 2px;
  margin-bottom: 20px; }
  .popular-posts_row:last-child {
    margin-bottom: 0; }

.popular-posts_img {
  width: 22%;
  max-height: 70px;
  overflow: hidden;
  margin-right: 6%;
  float: left; }
  .popular-posts_img img {
    width: 100%;
    height: auto; }

.popular-posts_right {
  float: left;
  width: 70%;
  font-size: 14px;
  font-family: "RobotoRegular";
  letter-spacing: 0.6px; }
  .popular-posts_right a {
    color: black;
    display: block;
    margin-bottom: 4px;
    line-height: 18px; }
    .popular-posts_right a:hover {
      color: rgba(0, 0, 0, 0.8); }
  .popular-posts_right span {
    color: rgba(0, 0, 0, 0.6); }

.side-banner-big {
  display: block;
  max-height: 419px;
  overflow: hidden; }
  .side-banner-big a {
    display: block;
    margin: 0 auto;
    width: 92%; }
    .side-banner-big a img {
      width: 100%;
      height: auto; }

.subscribe-wrap {
  background: #3f4cae url("../img/ornament.png") repeat-x 0 -4px;
  width: 100%;
  padding: 60px 0 57px; }

.subscribe {
  max-width: 785px;
  margin: 0 auto;
  text-align: center; }

.subscribe-heading {
  float: left;
  font-family: "RobotoSlabBold";
  font-size: 24px;
  margin-right: 12px;
  padding-top: 17px;
  color: #fff;
  letter-spacing: 1px; }

.subscribe-form {
  font-family: "RobotoLight";
  float: left;
  width: 100%;
  max-width: 360px;
  line-height: 51px;
  margin-right: 20px;
  text-indent: 14px;
  letter-spacing: 0.5px;
  border-radius: 5px;
  border: none;
  outline: none;
  border: 1px solid transparent; }
  .subscribe-form:focus {
    border: 1px solid rgba(0, 0, 0, 0.2); }

.btn-subscribe-bottom {
  font-family: "RobotoSlabBold";
  font-size: 16px;
  background-color: #ea4c58;
  border-radius: 5px;
  letter-spacing: 0.3px;
  color: #fff;
  line-height: 55px;
  padding: 0 40px;
  border: none;
  cursor: pointer;
  -webkit-transition: all .15s;
  -moz-transition: all .15s;
  -ms-transition: all .15s;
  -o-transition: all .15s; }
  .btn-subscribe-bottom:hover {
    background-color: #f95d69; }
  .btn-subscribe-bottom:active {
    background-color: #d92d3a; }

.footer-holder {
  width: 100%;
  background-color: #eee; }

.footer {
  max-width: 902px;
  margin: 0 auto;
  padding: 42px 0 35px;
  text-align: center; }

.footer-top {
  text-align: center; }

.footer-logo {
  display: block;
  max-width: 212px;
  margin: 0 auto 10px; }
  .footer-logo img {
    display: inline-block; }

.btn-footer-urb {
  display: inline-block;
  border-radius: 5px;
  font-size: 16px;
  line-height: 50px;
  letter-spacing: 0.6px;
  font-family: "RobotoSlabLight";
  color: #ea4c58;
  padding: 0 11px;
  background-color: transparent;
  border: 1px solid #ea4c58;
  cursor: pointer;
  -webkit-transition: all .15s;
  -moz-transition: all .15s;
  -ms-transition: all .15s;
  -o-transition: all .15s; }
  .btn-footer-urb:hover {
    background-color: #ea4c58;
    color: #fff; }
  .btn-footer-urb:active {
    border-color: #d92d3a;
    background-color: #d92d3a; }

.footer-top {
  margin-bottom: 69px; }

.footer-phone {
  font-family: 'RobotoSlabBold';
  color: #ea4c58;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: 0.9px;
  float: left;
  margin-right: 25px;
  margin-top: 9px; }

.privacy-nav {
  float: left;
  padding-top: 15px; }
  .privacy-nav li {
    display: inline-block;
    margin-right: 18px; }
    .privacy-nav li a {
      font-family: "RobotoLight";
      color: #3f4cae;
      text-decoration: underline;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.5px;
      -webkit-transition: all .15s;
      -o-transition: all .15s;
      transition: all .15s; }
      .privacy-nav li a:hover {
        text-decoration: none; }

.footer-social {
  float: right; }
  .footer-social li {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-left: 24px; }
    .footer-social li:first-child {
      margin-left: 0; }
  .footer-social img {
    display: inline-block;
    width: 100%;
    height: auto;
    -webkit-transition: all .15s;
    -o-transition: all .15s;
    transition: all .15s; }
  .footer-social a:hover img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2); }

.page-bottom {
  width: 100%;
  background-color: #000;
  text-align: center; }
  .page-bottom span {
    font-family: "RobotoSlabLight";
    display: inline-block;
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    padding: 15px 0;
    letter-spacing: 1px; }
